/* productDetails.css */

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container h1 {
    color: #012970;
    font-size: 2em;
    margin-bottom: 20px;
}

.container .product-details > img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.container p {
    color: #012970;
    margin-bottom: 10px;
}

.container .review {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.container .review h3 {
    color: #4154f1;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.container .review p {
    color: #012970;
    margin-bottom: 5px;
}


.product-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-image {
    width: 50%;
    object-fit: cover;
}

/* Product infos */

.product-info {
    width: 50%;
    padding: 20px;
}

.product-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-action > div {
    flex: 2;
}

.product-action form {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-action form input {
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}