/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: #333333;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-left: 20px;
}

.nav-link:hover {
    color: #333333;
}

.navbar-toggler-icon {
    background-color: #333333;
}

/**

/* Hero Section Styles */
.container-fluid {
    padding: 50px 0;
    text-align: center;
    color: #ffffff;
}

/* Featured Products Section Styles */
.container.my-5 {
    background-color: #ffffff;
    padding: 50px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Footer Styles */
footer {
    background-color: #ffffff;
    padding: 16px 0;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-toggler-icon {
        background-color: #333333;
    }

    .container-fluid {
        padding: 32px 16px;
    }

    .container.my-5 {
        padding: 32px 16px;
    }

    footer {
        position: relative;
    }
}

/*--------------------------------------------------------------
# liste
--------------------------------------------------------------*/
.liste #liste-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}

.liste #liste-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #444444;
  margin: 0 4px 8px 4px;
  transition: 0.3s;
  border-radius: 50px;
  border: 1px solid #fff;
}

.liste #liste-flters li:hover,
.liste #liste-flters li.filter-active {
  color: #4154f1;
  border-color: #4154f1;
}

.liste #liste-flters li:last-child {
  margin-right: 0;
}

.liste .liste-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.75);
}

.liste .liste-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.liste .liste-wrap img {
  transition: 1s;
  height: 300px;
  margin: 0 auto; /* add this line to center the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.liste .liste-wrap .liste-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.liste .liste-wrap .liste-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.liste .liste-wrap .liste-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.liste .liste-wrap .liste-info h4 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
}

.liste .liste-wrap .liste-info p {
  color: #012970;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.liste .liste-wrap .liste-links {
  text-align: center;
  z-index: 4;
}

.liste .liste-wrap .liste-links a {
  color: #fff;
  background: #4154f1;
  margin: 10px 2px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}

.liste .liste-wrap .liste-links a i {
  font-size: 24px;
  line-height: 0;
}

.liste .liste-wrap .liste-links a:hover {
  background: #5969f3;
}

.liste .liste-wrap:hover img {
  transform: scale(1.1);
}

.liste .liste-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.liste .liste-wrap:hover .liste-info {
  opacity: 1;
}

.liste .liste-wrap:hover .liste-info::before {
  top: 15px;
  left: 15px;
}

.liste .liste-wrap:hover .liste-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# table
--------------------------------------------------------------*/
  .table img {
    width: 100px;
    height: auto;
}

  

  
