<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.php?action=home">
        <h1>IsiWeb4Shop</h1>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
    {% if session.customer_id is defined %}
    <div class= ' col-lg-4'>
        <span class="navbar-text text-upercase">
            {{ session.firstname }} {{ session.lastname }}
        </span>
    </div>
    {% endif %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="./">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=products">Produits</a>
            </li>
            {% if session.customer_id is defined or session.admin_id is defined %}
                <a class='nav-link' href='index.php?action=logout'> Se deconnecter </a>
            {% else %}
                <a class='nav-link' href='index.php?action=login'> Se connecter </a>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=cart">Panier</a>
            </li>
        </ul>
    </div>
</nav>