<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.php?action=home">
        <img src="assets/img/Web4ShopHeader.png" alt="Logo Web4Shop">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
    {% if customer %}
        <div class= ' col-lg-4'>
            <span class="navbar-text text-upercase">
                {{ customer.forname }} {{ customer.surname }}
            </span>
        </div>
    {% elseif admin %}
        <div class= ' col-lg-4'>
            <span class="navbar-text text-upercase">
                <p> Admin: {{ admin }} </p>
            </span>
        </div>
    {% endif %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="./">Accueil</a>
            </li>
            {% if customer %}
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=products">Produits</a>
                </li>
                <a class='nav-link' href='index.php?action=logout'> Se deconnecter </a>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=cart">Panier</a>
                </li>
            {% elseif admin %}
                <a class='nav-link' href='index.php?action=logout'> Se deconnecter </a>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=admin&page=orders">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=admin&page=products">Produits</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=products">Produits</a>
                 </li>
                <a class='nav-link' href='index.php?action=login'> Se connecter </a>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=cart">Panier</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>