{% extends "layout/base.twig" %}

{% block title %}IsiWeb4Shop{% endblock %}

{% block content %}

<table class="table">
    <tr>
        <th scope="col">Numero produit </th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Prix</th>
    </tr>
    {% if orderAdmin is not empty %}
        {% for i in orderAdmin %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.price }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

{% endblock %}