{% extends "layout/base.twig" %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="bg-primary text-white border p-3 rounded mb-3">En attente de confirmation du paiement</h5>
                    <a target="_blank" href="index.php?action=facture" class="btn btn-info text-light">Télécharger les consignes de paiement par chèque</a>
                </div>

                <div class="card-body">
                    <p>&uarr; Les informations pour le paiement par chèque sont disponibles juste au dessus.</p>
                    <h4>Votre commande sera expédiée lorsque le paiement sera validé (cela peut prendre quelques jours)</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
