<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ IsiWeb4Shop}}</title>
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">IsiWeb4Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Home.html.twig">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Produits.twig">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Login.twig">Compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Panier.twig">Panier</a>
                </li>
            </ul>
        </div>
        
    </nav>

    <!-- Content -->
    <div class="container">
        <!-- Hero Section -->
        <div class="container-fluid bg-dark text-white text-center py-5">
            <h1 class="display-4">Bienvenue sur IsiWeb4Shop</h1>
            <p class="lead">Trouvez les meilleurs produits alimentaires en ligne.</p>
            <a href="{{ path('products') }}" class="btn btn-primary btn-lg">Découvrir</a>
        </div>

    </div>
    <section id="liste" class="liste">

      <div class="container" data-aos="fade-up">

            <div class="row gy-4 liste-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 liste-item filter-app">
                    <div class="liste-wrap">
                        <img src="../Img/banniere1.jpg" class="img-fluid" alt="">
                        <div class="liste-info">
                            <h4>Boissons</h4>
                            <div class="liste-links">
                                <a href="" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 liste-item filter-web">
                    <div class="liste-wrap">
                        <img src="../Img/banniere2.jpg" class="img-fluid" alt="">
                        <div class="liste-info">
                            <h4>Biscuits</h4>
                            <div class="liste-links">
                                <a href="" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 liste-item filter-web">
                    <div class="liste-wrap">
                        <img src="../Img/banniere3.jpg" class="img-fluid" alt="">
                        <div class="liste-info">
                            <h4>Fruits secs</h4>
                            <div class="liste-links">
                                <a href="" title="More Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


      

    <!-- Footer -->
    <footer class="bg-light text-center py-3">
        <p>&copy; 2023 Jules Ginhac et Dorian Tonnis</p>
    </footer>


    <!-- Bootstrap JS, assurez-vous d'inclure jQuery et Popper.js si nécessaire -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
