{% extends "layout/base.twig" %}

{% block content %} 
    
    <div class="container">
        <h2>Adresse de livraison</h2>
        <form action="index.php?action=payement" method="post">
            <div class="form-group">
                <label for="forname">Prénom:</label>
                <input type="text" id="forname" name="forname" required>
            </div>
            <div class="form-group">
                <label for="surname">Nom de famille:</label>
                <input type="text" id="surname" name="surname" required>
            </div>
            <div class="form-group">
                <label for="add1">Adresse 1:</label>
                <input type="text" id="add1" name="add1" required>
            </div>
            <div class="form-group">
                <label for="add2">Adresse 2:</label>
                <input type="text" id="add2" name="add2">
            </div>
            <div class="form-group">
                <label for="city">Ville:</label>
                <input type="text" id="city" name="city" required>
            </div>
            <div class="form-group">
                <label for="postcode">Code postal:</label>
                <input type="text" id="postcode" name="postcode" required>
            </div>
            <button type="submit" class="btn btn-primary">Continuer</button>
        </form>
    </div>

{% endblock %}