<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ IsiWeb4Shop}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Style/Style.css">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">IsiWeb4Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Home.twig">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Produits.twig">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Login.twig">Compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Panier.twig">Panier</a>
                </li>
            </ul>
        </div>
        
    </nav>

    <!-- Content -->
    <div class="container">

        <h2>Créer un compte</h2>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit" name="register">S'inscrire</button>
        </form>

        <h2>Se connecter</h2>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit" name="login">Se connecter</button>
        </form>

        <!-- Footer -->
        <footer class="bg-light text-center py-3">
            <p>&copy; 2023 Jules Ginhac et Dorian Tonnis</p>
        </footer>

    </div>

    <!-- Bootstrap JS, assurez-vous d'inclure jQuery et Popper.js si nécessaire -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
