{% extends "layout/base.twig" %}

{% block title %}IsiWeb4Shop{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="my-4">Choisissez votre méthode de paiement</h2>
        <form action="index.php?action=payement" method="post">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payement" id="paypal" value="paypal" checked>
                <label class="form-check-label" for="paypal">
                    PayPal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payement" id="cb" value="cb">
                <label class="form-check-label" for="cb">
                    Carte de crédit
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payement" id="cheque" value="cheque">
                <label class="form-check-label" for="cheque">
                    Chèque
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payement" id="virement" value="virement">
                <label class="form-check-label" for="virement">
                    Virement bancaire
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Continuer</button>
        </form>
    </div>
{% endblock %}