<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="Style/style.css">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.php?action=home">IsiWeb4Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=home">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?action=products">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Login.twig">Compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Panier.twig">Panier</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        <div class="container mt-5">

        <section id="liste" class="liste">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                     <h2>Liste Produits</h2>
                </header>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="liste-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">Boisson</li>
                        <li data-filter=".filter-app">Biscuits</li>
                        <li data-filter=".filter-web">Fruits secs</li>
                        </ul>
                    </div>
                </div>

                {% for product in products %}
                <div class="row gy-4 liste-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 liste-item filter-app">
                    <div class="liste-wrap">
                    <img src="Img/{{product.image}}" class="img-fluid" alt="">
                    <div class="liste-info">
                        <h4>{{product.name}}</h4>
                        <p>{{product.price}}</p>
                        <div class="liste-links">
                            <a href="" title="Voir plus"><i class="bi bi-link"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
        

        <!-- Footer -->
        <footer class="bg-light text-center py-3">
            <p>&copy; 2023 Jules Ginhac et Dorian Tonnis</p>
        </footer>

    </div>

    <!-- Bootstrap JS, assurez-vous d'inclure jQuery et Popper.js si nécessaire -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
