{% extends "layout/base.twig" %}

{% block content %}

<h1>Inscription réussie</h1>

<p>Votre inscription a été enregistrée avec succès. Vous pouvez maintenant vous connecter <a href="index.php?action=login">ici</a>.</p>


{% endblock %}