{% extends "partial/loginPage.twig" %}

{% block loginForm %}

	<h2>Inscription Admin</h2>

	<form action="index.php?action=registerAdmin" method="post">
		<label for="username">Nom d'utilisateur :</label>
		<input type="text" id="username" name="username" required>

		<label for="password">Mot de passe :</label>
		<input type="password" id="password" name="password" required>

		<input type="submit" value="S'inscrire" class="btn btn-light">
	</form>
{% endblock %}
