{% extends "layout/base.twig" %}

{% block content %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title my-4">Merci pour votre commande !</h2>
                <p>Récapitulatif de votre commande :</p>
                <!-- Affichez les détails de la commande à partir de la variable orderDetails -->
                <p>Produits : {{ orderDetails.products }}</p>
                <p>Adresse de livraison : {{ orderDetails.deliveryAddress }}</p>
                <p>Méthode de paiement : {{ orderDetails.paymentMethod }}</p>
                <!-- Ajoutez d'autres détails de commande si nécessaire -->

                <p><a href="index.php?action=home">Retour à la page d'accueil</a></p>
            </div>
        </div>
    </div>

{% endblock %}
